{{- /* Project case study schema. Type is SoftwareApplication (has live URL) /
       SoftwareSourceCode (repo only) / CreativeWork (fallback). References
       #person by @id. Port of projects/[slug].astro's schema. */ -}}
{{- $site := site.Data.site -}}
{{- $siteUrl := partial "func/site-url.html" . -}}
{{- $personId := printf "%s#person" $siteUrl -}}
{{- $d := .Params -}}
{{- $links := $d.links | default dict -}}
{{- $purl := strings.TrimSuffix "/" .Permalink -}}
{{- $cover := $d.cover | default $site.ogImage -}}
{{- $img := cond (hasPrefix (string $cover) "http") (string $cover) (printf "%s%s" $siteUrl $cover) -}}
{{- $type := "CreativeWork" -}}
{{- if $links.live }}{{ $type = "SoftwareApplication" }}{{ else if $links.repo }}{{ $type = "SoftwareSourceCode" }}{{ end -}}
{{- $obj := dict
  "@context" "https://schema.org"
  "@type" $type
  "@id" (printf "%s#project" $purl)
  "name" $d.title
  "description" $d.summary
  "dateCreated" $d.year
  "author" (dict "@id" $personId)
  "creator" (dict "@id" $personId)
-}}
{{- with $d.tags }}{{ $obj = merge $obj (dict "keywords" (delimit . ", ")) }}{{ end -}}
{{- with $d.stack }}{{ $obj = merge $obj (dict "programmingLanguage" .) }}{{ end -}}
{{- with $links.repo }}{{ $obj = merge $obj (dict "codeRepository" .) }}{{ end -}}
{{- with $links.live }}{{ $obj = merge $obj (dict "url" .) }}{{ end -}}
{{- with $img }}{{ $obj = merge $obj (dict "image" .) }}{{ end -}}
{{- if eq $type "SoftwareApplication" }}{{ $obj = merge $obj (dict "applicationCategory" "DeveloperApplication") }}{{ end -}}
<script type="application/ld+json">{{ $obj | jsonify | safeJS }}</script>
